<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>New Checkout</title>
  </head>
  <body>
    <h1><%= result.header %></h1>
    <p><%= result.message %></p>
  </body>
</html>